html {
  font-size: 1vh;
}
ul,
ol {
  list-style: none;
  color: #fff;
}
a {
  text-decoration: none;
}

body {
  height: 200vh;
  width: 100vw;
  font-family: "Average Sans", sans-serif;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.navi {
  position: absolute;
  margin-top: 5vw;
  left: 22vw;
  text-align: center;
  z-index: 10;
}
.underline {
  border-bottom: 2px solid #f2f211;
}
.navi li {
  width: 13vw;
  float: left;
  font-size: 1vw;
  display: block;
}

.navi li a {
  color: #000;
  display: inline-block;
}

.navi li:hover a {
  color: #f2f211;
  border-bottom: 2px solid #f2f211;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) .panel > * {
  background: #636fee;
  color: #7594f0;
}

.slide:nth-child(2) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}

.slide:nth-child(3) .panel > * {
  background: #63afee;
  color: #75cdf0;
}

.slide:nth-child(4) .panel > * {
  background: #d24b62;
  color: #d65c5c;
}

.slide .center {
  opacity: 0;
  position: relative;
  transition: opacity linear 300ms;
}

.slide .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide .top,
.slide .bottom {
  content: attr(data-back);
  position: absolute;
  font-size: 50vh;
  font-weight: 800;
  height: 50vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865),
    -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
}
.content {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vw;
  background-color: white;
  position: absolute;
  top: 25vw;
  left: 0;

  z-index: 10;
}

.img img {
  width: 20%;
  margin-top: 10vw;
  border: 7px solid #5059bd;
  border-radius: 25vw;
}
.innertext {
  width: 100%;
  height: 100%;
  margin-top: 5vw;
  color: #000;
}
.innertext p {
  line-height: 3vw;
}
.innertext .front {
  font-weight: 600;
  font-size: 1.25vw;
  color: #d24b62;
}

.innertext .emo {
  font-size: 3vw;
}
.innertext del {
  font-size: 0.5vw;
}
.slide .top:after,
.slide .bottom:after {
  position: relative;
  display: inline-block;
  transition: -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865),
    -webkit-transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  content: attr(data-back);
  font-family: "BenchNine", sans-serif;
}

.slide .top {
  line-height: 100vh;
  -webkit-transform: translatey(-50vh);
  transform: translatey(-50vh);
}

.slide .top:after {
  -webkit-transform: translatey(50vh);
  transform: translatey(50vh);
}

.slide .bottom {
  bottom: 0;
  line-height: 0vh;
  -webkit-transform: translatey(50vh);
  transform: translatey(50vh);
}

.slide .bottom:after {
  -webkit-transform: translatey(-50vh);
  transform: translatey(-50vh);
}

.slide.active .center {
  opacity: 1;
  transition: opacity linear 300ms;
  transition-delay: 600ms;
}

.slide.active .top,
.slide.active .bottom {
  transition: none;
  -webkit-transform: translatey(0);
  transform: translatey(0);
  z-index: -1;
}

.slide.active .top:after,
.slide.active .bottom:after {
  transition: -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms,
    -webkit-transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  text-align: center;
}

.center h1 {
  font-size: 10vh;
  line-height: 1;
  font-family: "BenchNine", sans-serif;
}
.slide.active .center h1 {
}
.gal {
  clear: both;
  display: inline-block;
}
.gal h4 {
  margin-top: 6vw;
}
.innertext ul li {
  float: left;
}
.innertext ul li img {
  width: 22vw;
  height: 40vh;
  margin: 1vw;
}
.major {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.major h4 {
  margin-top: 6vw;
}
.major li {
  flex-direction: column;
}
.major ul {
  margin-left: 12vw;
}
footer {
  width: 100%;
  margin: 0 auto;
  height: 10vw;

  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 37%;
}
footer i {
  font-size: 3vw;
  color: #7594f0;
  margin: 3vw;
}
footer a {
  width: 100%;
  height: 100%;
}
